li
{
    padding: 20px;
    float: left;
} 

.listNoBullet
{
     list-style-type: none;
     
}

.gameDiv
{
    text-align: center;
}


/* The side navigation menu */
.sideBar {
    height: 100%; /* 100% Full-height */
    width: 250; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    float: left;
    display: inline-block;
}

.gameSelection {
    display: inline-block;
    margin-left:250px
}

/* The navigation menu links */
.sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sideBar a:hover {
    color: #f1f1f1;
}
