
<div class="achievement">

    <div class="w3-container">

        <!-- Table full of achievments displaying titles, progress bars, and descriptions -->

        <h2>Achievements</h2>

        <div class="w3-responsive">

            
            <table id="table" class="w3-table-all w3-hoverable w3-centered w3-large">
                <tr>
                    <th>Challanges</th>
                    <th>Completion</th>
                    <th>Description</th>

                </tr>

                <tr>
                    <td>Place down your first piece</td>
                    <td>
                        <div class="progress" id="challengePiece" data-width="0%">
                            <div class="challengePiece" ></div>
                        </div>
                    </td>
                    <td>Put down your first Tic Tac Toe peice in original Tic Tac Toe.</td>
                </tr>

                <tr>
                    <td>Get a draw in basic Tic Tac Toe</td>
                    <td>
                        <div class="progress" id="challengeDraw" data-width="0%">
                            <div class="challengeDraw"></div>
                        </div>
                    </td>
                    <td>End a game as a draw in original Tic Tac Toe.</td>
                </tr>

                <tr>
                    <td>Play an offline match</td>
                    <td>
                        <div class="progress" id="challengeOffline" data-width="0%">
                            <div class="challengeOffline"></div>
                        </div>
                    </td>
                    <td>Play an offline match of any game mode.</td>
                </tr>

                <tr>
                    <td>Play an online match</td>
                    <td>
                        <div class="progress" id="challengeOnline" data-width="0%">
                            <div class="challengeOnline"></div>
                        </div>
                    </td>
                    <td>Play an online multiplayer match of any game mode.</td>
                </tr>

                <tr>
                    <td>Win a game in each game mode</td>
                    <td>
                        <div class="progress" id="challengeMode" data-width="0%">
                            <div class="challengeMode"></div>
                        </div>
                    </td>
                    <td>Defeat an opponent online at Tic Tac Toe in every game mode.</td>
                </tr>

                <tr>
                    <td>Win a X</td>
                    <td>
                        <div class="progress" id="challengeX" data-width="0%">
                            <div class="challengeX"></div>
                        </div>
                    </td>
                    <td>Defeat an opponent online while playing X in either original Tic Tac Toe, Ultimate, or 3D.</td>
                </tr>

                <tr>
                    <td>Win as O</td>
                    <td>
                        <div class="progress" id="challengeO" data-width="0%">
                            <div class="challengeO"></div>
                        </div>
                    </td>
                    <td>Defeat an opponent online while playing O in either original Tic Tac Toe, Ultimate, or 3D.</td>
                </tr>

                <tr>
                    <td>Lose a game</td>
                    <td>
                        <div class="progress" id="challengeLose" data-width="0%">
                            <div class="challengeLose"></div>
                        </div>
                    </td>
                    <td>Lose a match online in any game mode.</td>
                </tr>

                
                

            </table>
        </div>

     </div>   
 </div>

