<div class="cardPlain">    
    <div class="achievement">
        <div class="cardPlainTitle w3-blue-gray">
            <h2 style="color:white;" class="centered">Achievements</h2>
        </div>
        <div class="w3-container">

            <!-- Table full of achievments displaying titles, progress bars, and descriptions -->

            

            <div class="w3-responsive">

                
                <table id="table" class="w3-table-all w3-hoverable w3-centered w3-large">
                    <tr>
                        <th>Challanges</th>
                        <th>Completion</th>
                        <th>Description</th>

                    </tr>

                    <tr>
                        <td>Baby Steps</td>
                        <td>
                            <div class="progress" id="challengePiece" data-width="0%">
                                <div class="challengePiece" ></div>
                            </div>
                        </td>
                        <td>Put down your first Tic Tac Toe peice in original Tic Tac Toe.</td>
                    </tr>

                    <tr>
                        <td>Artist</td>
                        <td>
                            <div class="progress" id="challengeDraw" data-width="0%">
                                <div class="challengeDraw"></div>
                            </div>
                        </td>
                        <td>End a local or online game in a draw.</td>
                    </tr>

                    <tr>
                        <td>Not the InterWebs</td>
                        <td>
                            <div class="progress" id="challengeOffline" data-width="0%">
                                <div class="challengeOffline"></div>
                            </div>
                        </td>
                        <td>Play a local multiplayer match of any game mode.</td>
                    </tr>

                    <tr>
                        <td>The Interwebs</td>
                        <td>
                            <div class="progress" id="challengeOnline" data-width="0%">
                                <div class="challengeOnline"></div>
                            </div>
                        </td>
                        <td>Play an online multiplayer match of any game mode.</td>
                    </tr>

                    <tr>
                        <td>The Whole Shabang</td>
                        <td>
                            <div class="progress" id="challengeMode" data-width="0%">
                                <div class="challengeMode"></div>
                            </div>
                        </td>
                        <td>Defeat an opponent online in every game mode.</td>
                    </tr>

                    <tr>
                        <td>X Gunna Give it to Yah</td>
                        <td>
                            <div class="progress" id="challengeX" data-width="0%">
                                <div class="challengeX"></div>
                            </div>
                        </td>
                        <td>Defeat an opponent online while playing X in either original Tic Tac Toe, Ultimate, or 3D.</td>
                    </tr>

                    <tr>
                        <td>Ohhhhh yeah</td>
                        <td>
                            <div class="progress" id="challengeO" data-width="0%">
                                <div class="challengeO"></div>
                            </div>
                        </td>
                        <td>Defeat an opponent online while playing O in either original Tic Tac Toe, Ultimate, or 3D.</td>
                    </tr>

                    <tr>
                        <td>Noooooooo!</td>
                        <td>
                            <div class="progress" id="challengeLose" data-width="0%">
                                <div class="challengeLose"></div>
                            </div>
                        </td>
                        <td>Lose a match online in any game mode.</td>
                    </tr>

                    
                    

                </table>
            </div>

         </div>   
     </div>
</div>
