<div class="container" style="margin-bottom:50px">
    <div>
        <img src="imgs/waluigi.png" class="imageNew" ng-src="{{img_url}}" style="width:20%; 15%;"/>
    </div>
    
    <input type="file" id="profile_image"/>
        <form action="mainMenu.html">
            <div class="form-input">
                <input id="usernameNew" type="text" name="username" placeholder="Username:"></input>
            </div>
            
            
            <div class="form-input">
                <input id="battleTextNew" type="text" name="battleText" placeholder="Battle Phrase:"></input>
            </div>
            <input type="submit" name="submit" value="Apply Changes" id ="btn-applyChanges" class="btn-login"></input>
            
        </form>
</div>
