<div class="cardPlain">
	<div class="games">
		<div class="cardPlainTitle w3-theme">
			<h2 style="color:white;" class="centered">Games</h2>
		</div>
		<div class="w3-bar-block w3-animate-right w3-white" style="border-radius: 5px; width:35%;height: 500px; position:absolute;right: 0;margin-right: 30px;display: none" id="instructions">
		</div>
		<div class="w3-container w3-section">
			<div class="w3-card w3-left" style="width:175px; margin-left:20%; margin-right:0%; margin-bottom:16px">
				<header class="w3-container w3-light-blue w3-center">
					<h5>Tic Tac Toe</h5>
				</header>
				<div class="w3-container w3-center" style="background-color: #f2f2f2;">
					<img src="SiteImages/tictactoe.png" alt="Avatar" style="width:80%" height="125px">
					<button class="w3-button w3-block w3-dark-grey" id="tictactoeOriginal" type="button" onclick="playTheme('sounds/battle1.wav')">Play</button>
					<button class="w3-button w3-block w3-teal" type="button" onclick="openInstructions('TTT')">Instructions</button>
				</div>
			</div>

			<div class="w3-card w3-left" style="width:175px; float:right; margin-left:20%; margin-right:10%">
				<header class="w3-container w3-light-blue w3-center">
					<h5>3D Tic Tac Toe</h5>
				</header>
				<div class="w3-container w3-center" style="background-color: #f2f2f2;">
					<img src="SiteImages/3D.png" alt="Avatar" style="width:80%" height="125px">
					<button class="w3-button w3-block w3-dark-grey" id="3dtictactoe" type="button">Play</button>
					<button class="w3-button w3-block w3-teal" type="button" onclick="openInstructions('3DT')">Instructions</button>
				</div>

			</div>
		</div>
		<div class="w3-container w3-section">
			<div class="w3-card w3-left" style="width:175px; float:left; margin-left:20%; margin-right:10%; margin-bottom:16px; background-color: #f2f2f2;">
				<header class="w3-container w3-light-blue w3-center">
					<h5>Order&#38;Chaos</h5>
				</header>
				<div class="w3-container w3-center">
					<img src="SiteImages/orderChaos.png" alt="Avatar" style="width:80%" height="125px">
					<button class="w3-button w3-block w3-dark-grey" id="orderChaos">Play</button>
					<button class="w3-button w3-block w3-teal" type="button" onclick="openInstructions('OAC')">Instructions</button>
				</div>
			</div>

			<div class="w3-card w3-left" style="width:175px; float:left; margin-left:10%; margin-right:10%;background-color: #f2f2f2;">
				<header class="w3-container w3-light-blue w3-center">
					<h6>Ultimate Tic Tac Toe</h6>
				</header>
				<div class="w3-container w3-center">
					<img src="SiteImages/ultimate.png" alt="Avatar" style="width:80%" height="125px">
					<button class="w3-button w3-block w3-dark-grey" id="ultimate">Play</button>
					<button class="w3-button w3-block w3-teal" type="button" onclick="openInstructions('ULT')">Instructions</button>
				</div>
			</div>
		</div>
		<script id="TTTInfo" type="text/html">
			<div style="margin: 10px">
				<h1>TicTacToe</h1>
				<p>The object of Tic Tac Toe is to get three in a row. You play on a three by three game board. The first player is known as X and the second is O. Players alternate placing Xs and Os on the game board until either oppent has three in a row or all nine squares are filled. X always goes first, and in the event that no one has three in a row, the stalemate is called a cat game.</p>
				<br/>
				<a href="http://www.cyberoculus.com/tic-tac-toe.asp?Action=Rules">Source</a>
				<br/>
				<br/>
				<button class="w3-button w3-block w3-teal" type="button" style="buttom:0" onclick="closeBox()">Return</button>
			</div>
		</script>
		<script id="3DTInfo" type="text/html">
			<h1>3D TicTAcToe</h1>
			<p>
		</script>
		<script id="OACInfo" type="text/html">
			<h1>Order and Chaos</h1>
			Tic Tac Toe Stuffs
		</script>
		<script id="ULTInfo" type="text/html">
			<h1>Ultimate TicTacToe</h1>
			Tic Tac Toe Stuffs
		</script>
		<script>
			function openInstructions(game){
				var sidebar=document.getElementById("instructions");
				if (game=="TTT") sidebar.innerHTML=document.getElementById("TTTInfo").innerHTML;
				else if(game=="3DT") sidebar.innerHTML=document.getElementById("3DTInfo").innerHTML;
				else if(game=="OAC") sidebar.innerHTML=document.getElementById("OACInfo").innerHTML;
				else if(game=="ULT") sidebar.innerHTML=document.getElementById("ULTInfo").innerHTML;
				sidebar.style.display="block";
			}
			function closeBox(){
				document.getElementById("instructions").style.display="none";
			}
		</script>
	</div>
</div>
