<div class="cardPlain">

    <div class="games">
        <div class="cardPlainTitle w3-theme">
            <h2 style="color:white;" class="centered">Games</h2>
        </div>
        <div class="w3-container w3-section">
            <div class="w3-card w3-left" style="width:175px; margin-left:20%; margin-right:0%; margin-bottom:16px" >
                <header class="w3-container w3-light-blue w3-center">
                    <h5>Tic Tac Toe</h5>
                </header>
                <div class="w3-container w3-center" style="background-color: #f2f2f2;">
                    <img src="SiteImages/tictactoe.png" alt="Avatar" style="width:80%" height="125px">
                        <button class="w3-button w3-block w3-dark-grey" id="tictactoeOriginal" type="button" onclick="playTheme('sounds/battle1.wav')">Play</button>
                        </div>
            </div>

            <div class="w3-card w3-left" style="width:175px; float:right; margin-left:20%; margin-right:10%" >
                <header class="w3-container w3-light-blue w3-center">
                    <h5>3D Tic Tac Toe</h5>
                </header>
                <div class="w3-container w3-center" style="background-color: #f2f2f2;">
                    <img src="SiteImages/3D.png" alt="Avatar" style="width:80%" height="125px">
                        <button class="w3-button w3-block w3-dark-grey" id="3dtictactoe" type="button">Play</button>
                        </div>

            </div>
        </div>
        <div class="w3-container w3-section">
            <div class="w3-card w3-left" style="width:175px; float:left; margin-left:20%; margin-right:10%; margin-bottom:16px; background-color: #f2f2f2;" >
                <header class="w3-container w3-light-blue w3-center">
                    <h5>Order&#38;Chaos</h5>
                </header>
                <div class="w3-container w3-center">
                    <img src="SiteImages/orderChaos.png" alt="Avatar" style="width:80%"  height="125px">
                        <button class="w3-button w3-block w3-dark-grey" id="orderChaos">Play</button>
                        </div>
            </div>

            <div class="w3-card w3-left" style="width:175px; float:left; margin-left:10%; margin-right:10%;background-color: #f2f2f2;">
                <header class="w3-container w3-light-blue w3-center">
                    <h6>Ultimate Tic Tac Toe</h6>
                </header>
                <div class="w3-container w3-center">
                    <img src="SiteImages/ultimate.png" alt="Avatar" style="width:80%"  height="125px">
                        <button class="w3-button w3-block w3-dark-grey" id="ultimate">Play</button>
                        </div>
            </div>
        </div>
    </div>
</div>
