#insufficientCash {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 25%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.insufficientCash-content{
	position: relative;
	background-color: white;
	margin: auto;
	width: 375px;
	height: auto;
}

.insufficientCash-content p{
	padding: 15px;
}

.insufficientCash-content header {
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
}

#confirmation {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 25%; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.confirmation-content{
	position: relative;
	background-color: white;
	margin: auto;
	width: 250px;
	height: auto;
}

#confirmInfo{
	padding: 10px;
}
.confirmation-content p{
	margin-top: 0px;
}

.confirmation-content header{
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
}

#confirmButtons{
	width: 117px;
	display: block;
	margin-left: auto;
  margin-right: auto;
}
