.w3-btheme-l5 {color:#000 !important; background-color:#e8f1f9 !important}
.w3-btheme-l4 {color:#000 !important; background-color:#b3d1ec !important}
.w3-btheme-l3 {color:#fff !important; background-color:#67a2d9 !important}
.w3-btheme-l2 {color:#fff !important; background-color:#2d73b4 !important}
.w3-btheme-l1 {color:#fff !important; background-color:#1a4368 !important}
.w3-btheme-d1 {color:#fff !important; background-color:#06101a !important}
.w3-btheme-d2 {color:#fff !important; background-color:#060f17 !important}
.w3-btheme-d3 {color:#fff !important; background-color:#050d14 !important}
.w3-btheme-d4 {color:#fff !important; background-color:#040b11 !important}
.w3-btheme-d5 {color:#fff !important; background-color:#04090e !important}

.w3-btheme-light {color:#000 !important; background-color:#e8f1f9 !important}
.w3-btheme-dark {color:#fff !important; background-color:#04090e !important}
.w3-btheme-action {color:#fff !important; background-color:#04090e !important}

.w3-btheme {color:#fff !important; background-color:#07121c !important}
.w3-btext-theme {color:#07121c !important}
.w3-bborder-theme {border-color:#07121c !important}

.w3-bhover-theme:hover {color:#fff !important; background-color:#07121c !important}
.w3-bhover-text-theme {color:#07121c !important}
.w3-bhover-border-theme:hover {border-color:#07121c !important}
