.navigationBar
{
    list-style-type: none;
    
    background-color: #333;
    height: 50px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

.homePageLink
{
    background-color : #00b8e6;
}

#links
{
    list-style-type: none;
}

#links  a
{
    
    color: white;
    text-align: center;
    text-decoration: none;
}

#links  a:hover
{
    background-color: #00b8e6;
}

.navigationBar li
{
    display: inline;
}

.navigationBar  a
{
    display: inline-block;
    color: white;
    text-align: center;
    padding-right:15px;
    padding-left:15px;
    text-decoration: none;
    line-height:50px;
    vertical-align: middle;
}

.navigationBar  a:hover
{
    background-color: #b4ae24;
}

.selectedTab
{
    background-color: #817d1a;
}

html, body {
    
    min-height: 100%;
    height: 100%;
    background-color: #506295;
}


/* Card styles*/
.card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75%;
    
    height:200px;
    
    
    margin-top:20px;
    
    
    margin-left:35px;
    
    background-color: #f2f2f2;
}

.card:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardTitle
{
    background-color: #333;
    height: 50px
}

.cardTitle p
{
    margin: auto;
    width: 50%;
    text-align: center;
    color:  #2161ab;
    vertical-align: middle;
    line-height: 50px;
    font-size: 25px;
    
}

.cardText
{
    float: left;
    vertical-align: middle;
    
}

.cardText p
{
    margin-left: 15px;
    
}

.cardPlain
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 75%;
    
    margin-top: 20px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    
    margin-left:25px;
    margin-bottom: 10px;
    
    background-color: #f2f2f2;
    border-radius: 5px;
}

.cardPlain:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.cardTable
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    
    margin-top: 20px;
    margin-left:20px;
    
    margin-bottom: 10px;
    
    padding-left:10px;
    padding-right:10px;
    
    padding-top:15px;
    padding-bottom:15px;
    
    background-color: #f2f2f2;
    
    border-radius: 5px;
}

.cardTable:hover
{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}

html, body
{
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}

.sidebar
{
    background-color: #6666ff;
    position: relative;
    width: 20%;
    border-right: 1px solid black;
}

.sidebar h5
{
    padding: 1px 1px 0px 16px;
    font-size: 17px;
    color: #b4ae24;
    display: block;
}

.sidebar a
{
    padding: 10px 6px 0px 16px;
    font-size: 14px;
    /*color: #817d1a;*/
    display: block;
}

.sidebar p
{
    padding: 1px 6px 0px 16px;
    font-size: 14px;
    color: white;
    display: block;
}

table, td, th
{
    border: 1px solid black;
}

table
{
    border-collapse: collapse;
}

td
{
    height: 50px;
    text-align: center;
}


.footerBar li
{
    display: inline;
}

.footerBar
{
    list-style-type: none;
    
    
    
}

.footerBar  a
{
    
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

html
{
    font-family: 'Open Sans', sans-serif;
}




footer
{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #333536;
    height: 100px;
    background-color: #333;
}

.contentSideBarContainer
{
    display: flex;
    min-height: 75%;
}

.contentPanel
{
    width: 75%;
}

.buttonGroup
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttonGroup button
{
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    margin-top: 10px;
    margin-bottom: 10px;
}

.centered
{
    margin: auto;
    width: 50%;
    text-align: center;
}

.todoTable
{
    clear: both;
    
    width: 100%;
}

#todoForm
{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


input[type=text], input[type=date],select
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


#banner
{
    position: relative;
    text-align: center;
    height:150px;
}
/* Centered text on top of image*/
#banner p
{
    color:  #8A2BE2;
    font-size:40px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submitButton
{
    
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    width: 20%;
}

.submitButton:hover, .buttonGroup button:hover
{
    background-color: #45a049;
}

.container {
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: rgba(52, 73, 94, 0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}

.image{
    width:120px;
    height:120px
}

.container img {
    width: 150px;
    height: 150px;
    margin-top: -10px;
    margin-bottom: 30px;
}

input[type="file"]{
    margin-right: -60px;
    margin-bottom: 20px;
}

input[type="text"],input[type="password"]{
    height: 40px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: beige;
    border: none;
}

.btn-login {
    padding: 8px 20px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    border-bottom: 3px solid #d4d4d4;
    margin-bottom: 10px;
}

.progress {
    width: 90%;
    background: #ddd;
    height: 40px;
    margin: 15px;
}

.challengePiece, .challengeDraw, .challengeOffline, .challengeOnline, .challengeMode, .challengeX, .challengeO, .challengeLose {
    width: 0;
    background: green;
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 5px
}
