body {
    margin: 0 auto;
    background: url("../SiteImages/king.png") no-repeat center center fixed;
}

.container {
    width: 500px;
    height: 495px;
    text-align: center;
    background-color: rgba(52, 73, 94, 0.7);
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 150px;
}

.container img {
    width: 150px;
    height: 150px;
    margin-top: -10px;
    margin-bottom: 30px;
}

input[type="text"],input[type="password"]{
    height: 40px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
    background-color: beige;
    border: none;
}

.btn-login {
    padding: 8px 20px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    border-bottom: 3px solid #d4d4d4;
    margin-bottom: 10px;
}

.btn-guest {
    padding: 8px 20px;
    background-color: rgb(250, 182, 182);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    border-bottom: 3px solid #917777;
    margin-bottom: 20px;
}

a {
    color: #fff;
    margin-bottom: 5px;
    font-size: 16px;
}
