/* The grid: Four equal columns that float next to each other */
.row {
    margin: 0px auto; width: 2000px; 
    margin-left: 500px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    color: white;
    height: 400px;
}

.containerTab {
    padding: 20px;
    color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}