<div>
  <div class="w3-container w3-blue-gray">   
    <h2>{{username}}</h2>
  </div>
  <img   ng-src="{{img_url}}" id="player_img" style="width:100%; height:150px;background-color: #f2f2f2;" ></img>
  <div class="w3-container w3-blue-gray">
    <p class="w3-right-align" ng-model='$parent.battleText'>{{battleText}}</p>
    <p class="w3-right-align" id='cash'>{{money}}</p>
  </div>

 
  <span id="links">
    <a href="#/editProfile" id="editProfileLink">Edit Profile</a>
    <a href="#/home" id="homePageLink" >Home Page</a>
    <a href="#/achievements" id="achievementsLink">Achievements</a>
    <a href="#/customization" id="customizationLink" >Customization</a>
    <a href="#/leaderboard" id="leaderboardLink">Leaderboard</a>
    <a  id="logoutLink" onclick="logout()">Logout</a>
  </span>
   
  <div class="slideContainer">
    <table class="soundControl">
      <tr id="topSlider">
        <td><a>BGM</a></td>
        <td><button id="bgmButton" class="soundButton" onclick="toggleSound(this)" value="on"></button></td>
        <td><input id="bgmSlider" class="slider" type="range" min="0" max="1" step="0.01" oninput="adjustVolume(this)" 
                   onchange="storeVolume('theme', this.value)" value="0.3"></td>
      </tr>
      <tr id="botSlider">
        <td><a>SFX</a></td>
        <td><button id="sfxButton" class="soundButton" onclick="toggleSound(this)" value="on"></button></td>
        <td><input id="sfxSlider" class="slider" type="range" min="0" max="1" step="0.01" oninput="adjustVolume(this)"
                   onchange="storeVolume('effect', this.value)" value="0.9"></td>
      </tr>
    </table>
  </div>
</div>
